{% extends 'base.html.twig' %}

{% block title %}OriginCountry index{% endblock %}

{% block body %}
    <h1>OriginCountry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for origin_country in origin_countries %}
            <tr>
                <td>{{ origin_country.id }}</td>
                <td>{{ origin_country.Country }}</td>
                <td>
                    <a href="{{ path('app_origin_country_show', {'id': origin_country.id}) }}">show</a>
                    <a href="{{ path('app_origin_country_edit', {'id': origin_country.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_origin_country_new') }}">Create new</a>
{% endblock %}
